<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.wrtsprt.alfred-slack</string>
	<key>connections</key>
	<dict>
		<key>0A28511A-E5BE-49C9-BCF7-374C9DE3E0A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AAC98E6D-B9EF-4743-BD5E-83DE08E22EB1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7759E5E7-9A1B-4275-B475-EC1D7C79E12B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7759E5E7-9A1B-4275-B475-EC1D7C79E12B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE7829BC-26A4-4EB4-9138-9E29C9EE22CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7EB9A98C-FBCE-492B-8F58-E97DC1927D3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AAEB6DFB-D249-47A7-AAD0-D9EEC0193565</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D07172A-57A2-4F4B-8426-BF5D566E7DC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9F58E83-4E3D-4C67-879D-286BF2714BF5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AAC98E6D-B9EF-4743-BD5E-83DE08E22EB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D07172A-57A2-4F4B-8426-BF5D566E7DC8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D999C93D-8B12-41B2-99D8-43EF35712F16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7EB9A98C-FBCE-492B-8F58-E97DC1927D3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DE7829BC-26A4-4EB4-9138-9E29C9EE22CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D999C93D-8B12-41B2-99D8-43EF35712F16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9F58E83-4E3D-4C67-879D-286BF2714BF5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F82B237D-08E4-4374-A56C-598E8545BFF7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F82B237D-08E4-4374-A56C-598E8545BFF7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AAEB6DFB-D249-47A7-AAD0-D9EEC0193565</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>wrtsprt</string>
	<key>description</key>
	<string>some handy tools for slack in Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred Slack Integration</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>api_token = ENV['api_token']


result1 = `curl "https://slack.com/api/users.setPresence?token=#{api_token}&amp;presence=away"`

result2 = `curl "https://slack.com/api/dnd.setSnooze?token=#{api_token}&amp;num_minutes=600"`

puts result1 + " " + result2</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F82B237D-08E4-4374-A56C-598E8545BFF7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query = "{query}"

output = `security find-generic-password -l slack-af-legacy-token -w`

if output =~ /The specified item could not be found in the keychain/
  puts 'tado password keychain item missing'
  nil
else
  printf output.chomp
end</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9D07172A-57A2-4F4B-8426-BF5D566E7DC8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>api_token</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E9F58E83-4E3D-4C67-879D-286BF2714BF5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>away</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>AAC98E6D-B9EF-4743-BD5E-83DE08E22EB1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Slack result</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>AAEB6DFB-D249-47A7-AAD0-D9EEC0193565</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query = "{query}"

output = `security find-generic-password -l slack-af-legacy-token -w`

if output =~ /The specified item could not be found in the keychain/
  puts 'tado password keychain item missing'
  nil
else
  printf output.chomp
end</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DE7829BC-26A4-4EB4-9138-9E29C9EE22CA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Away","arg":"away","subtitle":"Away + DnD"},{"title":"Active","arg":"active","subtitle":"Active + Turn OFF DnD"}]</string>
				<key>keyword</key>
				<string>sls</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Update the slack status</string>
				<key>title</key>
				<string>Slack Status</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>0A28511A-E5BE-49C9-BCF7-374C9DE3E0A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>api_token</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D999C93D-8B12-41B2-99D8-43EF35712F16</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>api_token = ENV['api_token']

result1 = `curl "https://slack.com/api/dnd.endDnd?token=#{api_token}"`
result2 = `curl "https://slack.com/api/dnd.endDnd?token=#{api_token}"`

puts result1 + " " + result2</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7EB9A98C-FBCE-492B-8F58-E97DC1927D3C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>active</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>7759E5E7-9A1B-4275-B475-EC1D7C79E12B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0A28511A-E5BE-49C9-BCF7-374C9DE3E0A6</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>7759E5E7-9A1B-4275-B475-EC1D7C79E12B</key>
		<dict>
			<key>note</key>
			<string>active</string>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>7EB9A98C-FBCE-492B-8F58-E97DC1927D3C</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>9D07172A-57A2-4F4B-8426-BF5D566E7DC8</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>AAC98E6D-B9EF-4743-BD5E-83DE08E22EB1</key>
		<dict>
			<key>note</key>
			<string>away</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>AAEB6DFB-D249-47A7-AAD0-D9EEC0193565</key>
		<dict>
			<key>xpos</key>
			<integer>850</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>D999C93D-8B12-41B2-99D8-43EF35712F16</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>DE7829BC-26A4-4EB4-9138-9E29C9EE22CA</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>E9F58E83-4E3D-4C67-879D-286BF2714BF5</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>F82B237D-08E4-4374-A56C-598E8545BFF7</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>github.com/wrtsprt</string>
</dict>
</plist>
